<script lang="ts">
  import { bufferGet, bufferReset } from "./buffer.js";
  import { evalBf } from "../../build/release.js";

  let input = `
+++++ +++++             initialize counter (cell #0) to 10
[                       use loop to set the next four cells to 70/100/30/10
    > +++++ ++              add  7 to cell #1
    > +++++ +++++           add 10 to cell #2
    > +++                   add  3 to cell #3
    > +                     add  1 to cell #4
    <<<< -                  decrement counter (cell #0)
]
> ++ .                  print 'H'
> + .                   print 'e'
+++++ ++ .              print 'l'
.                       print 'l'
+++ .                   print 'o'
> ++ .                  print ' '
<< +++++ +++++ +++++ .  print 'W'
> .                     print 'o'
+++ .                   print 'r'
----- - .               print 'l'
----- --- .             print 'd'
> + .                   print '!'
> .                     print '\\n'
`;
  let output = "";
  const textEncoder = new TextEncoder();

  const run = function () {
    const prg = new Uint8Array(3 * input.length);
    textEncoder.encodeInto(input, prg);
    bufferReset();
    evalBf(prg);
    output = bufferGet();
  };

  const reset = function () {
    output = "";
  };
</script>

<h4>Enter your program:</h4>
<textarea rows="24" cols="80" on:keyup={reset} bind:value={input} />
<br />
<button on:click={run}>Run</button>
<h4>Output:</h4>
<textarea rows="4" cols="80" bind:value={output} />
