<script lang="ts">
  import Playground from "./lib/Playground.svelte";
</script>

<main>
  <h2>
    <a href="https://en.wikipedia.org/wiki/Brainfuck">Brainfuck</a> Live Demo
  </h2>

  <div>
    <Playground />
  </div>

  <p>
    powered by <a href="https://webassembly.org/">WebAssembly</a>
    using <a href="https://www.assemblyscript.org/">AssemblyScript</a>
    on <a href="https://framagit.org/fperrad/brainfuck.as.wasm">Framagit</a>
  </p>
</main>

<style>
</style>
